<a class="acard" href="{{ a.url }}"><strong>{{ a.data.town }}</strong><span>{{ a.data.distance }}{% if a.data.distance != 'Home base' %} from Rochdale{% endif %}</span><em>{{ a.data.housing }}</em></a>
