---
layout: base.njk
permalink: /404.html
seo_title: Page not found | Perfect Pointing
---
{% set image = home.hero_image %}{% set crumb = "404" %}{% set heading = "That page isn't here" %}{% set intro = "The link may be old. Try the menu above, or ring Scott." %}{% set extra = "" %}
{% include "phero.njk" %}
<section><div class="wrap"><div class="actions" style="margin-top:0"><a class="btn btn-brick" href="/">Home</a><a class="btn btn-ghost" href="/contact/">Get a quote</a></div></div></section>
